---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/rallen20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4957'
      X-Ratelimit-Reset:
      - '1581459113'
      Etag:
      - W/"c3842dfbd3a4412e40f4b37d10630798"
      Last-Modified:
      - Tue, 11 Feb 2020 20:05:24 GMT
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"rallen20","id":53151022,"node_id":"MDQ6VXNlcjUzMTUxMDIy","avatar_url":"https://avatars1.githubusercontent.com/u/53151022?v=4","gravatar_id":"","url":"https://api.github.com/users/rallen20","html_url":"https://github.com/rallen20","followers_url":"https://api.github.com/users/rallen20/followers","following_url":"https://api.github.com/users/rallen20/following{/other_user}","gists_url":"https://api.github.com/users/rallen20/gists{/gist_id}","starred_url":"https://api.github.com/users/rallen20/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rallen20/subscriptions","organizations_url":"https://api.github.com/users/rallen20/orgs","repos_url":"https://api.github.com/users/rallen20/repos","events_url":"https://api.github.com/users/rallen20/events{/privacy}","received_events_url":"https://api.github.com/users/rallen20/received_events","type":"User","site_admin":false,"name":"Ryan","company":null,"blog":"","location":"Denver,
        CO","email":"rallenwasd@gmail.com","hireable":null,"bio":null,"public_repos":45,"public_gists":1,"followers":2,"following":2,"created_at":"2019-07-21T17:33:20Z","updated_at":"2020-02-11T20:05:24Z","private_gists":6,"total_private_repos":1,"owned_private_repos":1,"disk_usage":1320,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":10000}}'
  recorded_at: Tue, 11 Feb 2020 21:43:07 GMT
recorded_with: VCR 4.0.0
