---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 7c4acf3a8bd9a5eb8549bc07bae22cca27bf52d5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1581033214'
      Etag:
      - W/"013e2ad0d53fbce09a8cd9cd57d74392"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"sasloan","id":51456013,"node_id":"MDQ6VXNlcjUxNDU2MDEz","avatar_url":"https://avatars3.githubusercontent.com/u/51456013?v=4","gravatar_id":"","url":"https://api.github.com/users/sasloan","html_url":"https://github.com/sasloan","followers_url":"https://api.github.com/users/sasloan/followers","following_url":"https://api.github.com/users/sasloan/following{/other_user}","gists_url":"https://api.github.com/users/sasloan/gists{/gist_id}","starred_url":"https://api.github.com/users/sasloan/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sasloan/subscriptions","organizations_url":"https://api.github.com/users/sasloan/orgs","repos_url":"https://api.github.com/users/sasloan/repos","events_url":"https://api.github.com/users/sasloan/events{/privacy}","received_events_url":"https://api.github.com/users/sasloan/received_events","type":"User","site_admin":false},{"login":"mel-rob","id":46657526,"node_id":"MDQ6VXNlcjQ2NjU3NTI2","avatar_url":"https://avatars1.githubusercontent.com/u/46657526?v=4","gravatar_id":"","url":"https://api.github.com/users/mel-rob","html_url":"https://github.com/mel-rob","followers_url":"https://api.github.com/users/mel-rob/followers","following_url":"https://api.github.com/users/mel-rob/following{/other_user}","gists_url":"https://api.github.com/users/mel-rob/gists{/gist_id}","starred_url":"https://api.github.com/users/mel-rob/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mel-rob/subscriptions","organizations_url":"https://api.github.com/users/mel-rob/orgs","repos_url":"https://api.github.com/users/mel-rob/repos","events_url":"https://api.github.com/users/mel-rob/events{/privacy}","received_events_url":"https://api.github.com/users/mel-rob/received_events","type":"User","site_admin":false}]'
  recorded_at: Thu, 06 Feb 2020 23:06:16 GMT
recorded_with: VCR 4.0.0
