.notice-flash {
  color: black;
  float: right;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
}

.error-flash {
  color: black;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
}
